﻿<div class="vc_footer-links">
    <div class="wrapper">
        <div class="container">
            <div class="vc_footer-line"> </div>
            <div class="row-fluid">
                <div id="vc_about-widget" class="widget span3 clearfix">
                    <div class="vc_about">
                        <h4> Contact <span class="vc_main-color">TrueSyte&#153;</span></h4> 
                        <div class="vc_address">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="icon"><i class="icon-map-marker"></i></td>
                                        <td>
                                            <address>
                                                <span class="vc_inverted">United States</span><br />
                                                116 Central Park South, Suite 6B<br />
                                                New York City, New York 10019<br />
                                                <br /><span class="vc_inverted">Hong Kong</span><br />
                                                38 Kai Tak Road, Suite 1/F<br />
                                                Kowloon, Hong Kong<br />
                                            </address>
                                        </td>
                                    </tr><tr>
                                        <td class="icon"><i class="icon-phone"> </i></td>
                                        <td> +91-22-21144113 </td>
                                    </tr><tr>
                                        <td class="icon"><i class="icon-envelope"> </i></td>
                                        <td> info@truesyte.com </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="vc_social-share"> 
                            <a href="#" class="twitter" title="Twitter"> Twitter </a> 
                            <a href="#" class="facebook" title="Facebook"> Facebook </a> 
                            <a href="#" class="gplus" title="Gplus"> G+ </a> 
                            <a href="#" class="linkedin" title="linkedin"> Linked In </a> 
                            <a href="#" class="email" title="email"> Email </a> 
                            <a href="#" class="rss" title="Rss"> Rss </a>
                        </div>
                    </div>
                </div>
                <div id="vc_gallery-widget" class="widget span3 clearfix">
                    <h4> Videos and Tutorials </h4>
                    <div class="vc_gallery">               
                        <ul>
                            <li><a href="#"><img alt="office image" src="/images/board1_sm.jpg"></a></li>
                            <li><a href="#"><img alt="office image" src="/images/board2_sm.jpg"></a></li>
                            <li><a href="#"><img alt="office image" src="/images/board3_sm.jpg"></a></li>
                            <li><a href="#"><img alt="office image" src="/images/board4_sm.jpg"></a></li>
                            <li><a href="#"><img alt="office image" src="/images/board5_sm.jpg"></a></li>
                            <li><a href="#"><img alt="office image" src="/images/board6_sm.jpg"></a></li>
                            <li><a href="#"><img alt="office image" src="/images/board7_sm.jpg"></a></li>
                            <li><a href="#"><img alt="office image" src="/images/board8_sm.jpg"></a></li>
                            <li><a href="#"><img alt="office image" src="/images/board9_sm.jpg"></a></li>
                        </ul> 
                    </div>
                </div>
                <div id="vc_twitter-widget" class="widget span3 clearfix">
                    <div class="vc_twitter">
                        <h4 class="pull-left"> Catch Us On Twitter </h4>
                        <div class="vc_carousel-control"> 
                            <a href="#"><i class="icon-chevron-up"></i></a> 
                            <a href="#"><i class="icon-chevron-down"></i></a>
                        </div>
                        <div class="clearfix"> </div>
                        <div class="vc_carousel-wrapper">
                            <div id="twitter-feeds">
                                <ul class="vc_carousel vc_li"></ul>
                            </div>  
                        </div>
                    </div>
                </div>
                <div id="vc_newsletter-form-widget" class="widget span3 clearfix">
                    <div class="vc_newsletter-form">
                        <h4><span class="vc_main-color">TrueSyte&#153;</span> Newsletter</h4>
                        <div id="vc_newsletter-form-success" class="alert alert-success hidden" style="display:none;"> 
                            <strong> Thank you! </strong> You've been added to our email list. 
                        </div>
                        <div id="vc_newsletter-form-error" class="alert alert-error hidden"> </div>
                        <div class="info">                
                            <p> Keep up-to-date with our platform and news. Enter your e-mail and subscribe to our newsletter. </p>
                            <form  id="newsletter" method="POST" action="php/newsletter-subscribe.php" class="form-inline">
                                <div class="control-group">
                                    <div class="controls">
                                        <input type="email" id="email" name="email" placeholder="Email Address" required />
                                    </div>
                                    <button type="submit" class="vc_btn"> Go ! </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

