﻿<div class="vc_client block">
    <div class="wrapper">
        <div class="container">
            <h4> Our Expertise </h4>
            <div class="vc_splitter"> <span class="bg"> </span> </div>
            <div class="vc_carousel-wrap">
                <div class="vc_carousel clearfix">
                    <div class="vc_carousel-column"> <a href="#" class="content"> <img alt="example image" src="/images/client/01.png" /> </a> </div>
                    <div class="vc_carousel-column"> <a href="#" class="content"> <img alt="example image" src="/images/client/02.png" /> </a> </div>
                    <div class="vc_carousel-column"> <a href="#" class="content"> <img alt="example image" src="/images/client/03.png" /> </a> </div>
                    <div class="vc_carousel-column"> <a href="#" class="content"> <img alt="example image" src="/images/client/04.png" /> </a> </div>
                    <div class="vc_carousel-column"> <a href="#" class="content"> <img alt="example image" src="/images/client/05.png" /> </a> </div>
                    <div class="vc_carousel-column"> <a href="#" class="content"> <img alt="example image" src="/images/client/06.png" /> </a> </div>
                    <div class="vc_carousel-column"> <a href="#" class="content"> <img alt="example image" src="/images/client/07.png" /> </a> </div>
                    <div class="vc_carousel-column"> <a href="#" class="content"> <img alt="example image" src="/images/client/08.png" /> </a> </div>
                    <div class="vc_carousel-column"> <a href="#" class="content"> <img alt="example image" src="/images/client/09.png" /> </a> </div>
                </div>
                <div class="clearfix"> </div>
                <div class="vc_pager clearfix" id="vc_client-pager"> </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>

