﻿@model Com.TrueSyte.Platform.Core.Models.RegisterProjectModel
@{ ViewBag.Title = "Project Registration"; }

@using Com.TrueSyte.Platform.Core;
@using Com.TrueSyte.Platform.Core.Entities;

<div class="container">
    <h1>@ViewBag.Title</h1>
    @using (Html.BeginForm(new { @id = "ProjectRegistration" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(string.Empty, new { @class = "error" })

        <fieldset>
            <legend>Some basic information to get you started ...</legend>
            <input type="hidden" value="Project Information" />
            <ul class="nodecoration">
                <li>
                    @Html.LabelFor(m => m.Title)
                    @Html.TextBoxFor(m => m.Title)
                </li>
                <li>
                    @Html.LabelFor(m => m.Subtitle)
                    @Html.TextBoxFor(m => m.Subtitle)
                </li>
                <li>
                    @Html.LabelFor(m => m.Description)
                    @Html.TextAreaFor(m => m.Description)
                </li>
            </ul>
        </fieldset>
        <fieldset>
            <legend>A little more information so we could better understand your project ...</legend>
            <input type="hidden" value="Project Information (continuation)" />
            <ul class="nodecoration">
                <li>
                    @Html.LabelFor(m => m.Purpose)
                    @Html.TextAreaFor(m => m.Purpose)
                </li>
                <li>
                    @Html.LabelFor(m => m.Objectives)
                    @Html.TextAreaFor(m => m.Objectives)
                </li>
                <li>
                    @Html.LabelFor(m => m.Technologies)
                    @Html.TextBoxFor(m => m.Technologies)
                </li>
                <li>
                    @Html.LabelFor(m => m.Dependencies)
                    @Html.TextBoxFor(m => m.Dependencies)
                </li>
            </ul>
        </fieldset>
        <fieldset>
            <legend>Tell us all about your project plans ...</legend>
            <input type="hidden" value="Project Plans" />
            <ul class="nodecoration">
                <li>
                    @Html.LabelFor(m => m.PlannedBudget)
                    @Html.EditorFor(m => m.PlannedBudget)
                </li>
                <li>
                    @Html.LabelFor(m => m.PlannedStartDate)
                    @Html.EditorFor(m => m.PlannedStartDate)
                </li>
                <li>
                    @Html.LabelFor(m => m.PlannedEndDate)
                    @Html.EditorFor(m => m.PlannedEndDate)
                </li>
                <li>
                    @Html.LabelFor(m => m.Phase)
                    @Html.DropDownListFor(m => m.Phase, typeof(ProjectPhase).ToSelectList("Select project phase ..."), new { @class = "selectpicker" })
                </li>
                <li>
                    @Html.LabelFor(m => m.Status)
                    @Html.DropDownListFor(m => m.Status, typeof(ProjectStatus).ToSelectList("Select project status ..."), new { @class = "selectpicker" })
                </li>
            </ul>
        </fieldset>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        Com.TrueSyte.InitializeWizardForm({
            submitButtonName: "Register"
        });
    </script>
}

