﻿@{
    ViewBag.PageTitle = "IT Redefined";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="keywords" content="HTML5 Template" />
        <meta name="description" content="Welcome to TrueSyte">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>TrueSyte&#153; | @ViewBag.PageTitle</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        @Styles.Render("~/content/corestyle")
        <!--[if lte IE 9]>
            <link href="/content/themes/base/ie-google-webfont.min.css" rel="stylesheet" />
        <![endif]-->
        <!--[if IE 7]>
            <link href="/content/themes/base/font-awesome-ie7.min.css" rel="stylesheet" />
        <![endif]-->
        <!--[if (gte IE 6)&(lte IE 8)]>
            <script src="/scripts/selectivizr-min.js"></script>
        <![endif]-->
        <!--[if lt IE 9]>
            <script src="/scripts/html5.min.js"></script>
        <![endif]-->
    </head>
    <body class="clearfix" data-smooth-scrolling="1">
        <div class="vc_body">
            <header>
                <div class="container">
                    <div class="row-fluid">
                        <div class="span12">
                            <nav class="vc_menu pull-left"> 
                                <a href="/" class="logo pull-left"> 
                                    <img alt="logo" src="/images/logo.png"> 
                                </a>
                                <div class="navbar navbar-inverse">
                                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".vc_primary-menu">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span> 
                                        <span class="icon-bar"></span> 
                                    </button>
                                </div>
                                <div class="vc_primary-menu pull-left">
                                    <ul>
                                        @if (HttpContext.Current.User.Identity.IsAuthenticated)
                                        {
                                            <li>@Html.ActionLink("Home", "Dashboard", "Home")</li>
                                            <li>@Html.ActionLink("Project", "Register", "Project")</li>
                                            <li>
                                                <a href="/Account/Default">My Account <i class="icon-caret-down"></i></a>
                                                <div class="vc_menu-open-right vc_menu-2-v">
                                                    <ul class="clearfix">
                                                        <li>@Html.ActionLink("Update profile", "ManageUser", "Account")</li>
                                                        <li>@Html.ActionLink("Reset password", "ManagePassword", "Account")</li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>@Html.ActionLink("Log off", "LogOff", "Account")</li>
                                        }
                                        else
                                        {
                                            <li>@Html.ActionLink("Home", "Default", "Home")</li>
                                            <li>@Html.ActionLink("About Us", "About", "Home")</li>
                                            <li>@Html.ActionLink("Careers", "Careers", "Home")</li>
                                            <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                                            <li>@Html.ActionLink("Register", "Register", "Account")</li>
                                            <li>@Html.ActionLink("Log in", "Login", "Account")</li>
                                        }
                                    </ul>
                                </div>
                                <div class="vc_menu-search-wrapper pull-right">
                                    <form class="vc_menu-search" method="post" action="http://metcreative.com/demo/demo_news24/sites/magazine/index.php?">
                                        <input type="text" name="search" class="vc_menu-search-text" required placeholder="Search">
                                        <div class="vc_menu-search-submit"> </div>
                                    </form>
                                </div>
                            </nav>
                            <div class="clearfix"></div>
                            <div class="vc_secondary-menu row-fluid">
                                <div class="vc_contact-top-wrapper span9 row-fluid">
                                    <div class="vc_contact-top pull-right">
                                        <div class="pull-left">
                                            <h5> 
                                                <span><i class="icon-envelope"></i> info@truesyte.com</span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="vc_social-share-wrapper span3">
                                    <div class="vc_social-share pull-right"> 
                                        <a title="Twitter" class="twitter" href="#">Twitter</a>
                                        <a title="Facebook" class="facebook" href="#">Facebook</a>
                                        <a title="Gplus" class="gplus" href="#">G+</a>
                                        <a title="linkedin" class="linkedin" href="#">Linked In</a>
                                        <a title="e-mail" class="email" href="#">E-mail</a>
                                        <a title="Rss" class="rss" href="#">Rss</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_sub-menu-bg"></div>
                </div>
                <div class="vc_menu-bg"></div>
            </header>
            <div class="vc_content block">
                <div class="wrapper">
                    @RenderBody()
                </div>
            </div>
            @RenderSection("expertise", required: false)
            <footer>
                @RenderSection("contact", required: false)
                <div class="vc_bottom">
                    <div class="wrapper">
                        <div class="container">
                            <div class="vc_footer-line"></div>
                            <div class="bg">
                                <div class="row-fluid">
                                    <div class="span6">
                                        <div class="copyright pull-left">
                                            <h5>Copyright &copy;@DateTime.Now.Year TrueSyte&#153;. All Rights Reserved</h5>
                                        </div>
                                    </div>
                                    <div class="span6">
                                        <div class="menu pull-right">
                                            @Html.ActionLink("Home", "Default", "Home")
                                            @Html.ActionLink("About Us", "About", "Home")
                                            @Html.ActionLink("Careers", "Careers", "Home")
                                            @Html.ActionLink("Contact Us", "Contact", "Home")
                                            @Html.ActionLink("Blogs", "Blogs", "Home")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <a class="back-top" href="#" id="back-top">
            <i class="icon-chevron-up icon-white"></i>
        </a> 

        @Scripts.Render("~/bundles/corescript")
        @RenderSection("scripts", required: false)

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-XXXXX-X']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </body>
</html>

