﻿.vc_body .vc_content .container .error {
    color: red;
}

.vc_body .vc_content .container .nodecoration {
    overflow: hidden;
}

.vc_body .vc_content .container .nodecoration li {
    list-style: none outside none;
}

.vc_body .vc_content .selectpicker option {
    padding: 5px 10px;
}

.vc_body .vc_content .container #main {
    background-color: #F6F6F6;
    border: 1px solid #B2B3B5;
    margin: 0 auto;
    padding: 20px;
    width: 960px;
}
.vc_body .vc_content .container #header {
    border-bottom: 1px solid #B2B3B5;
    margin: 0 0 20px;
    text-align: center;
}
.vc_body .vc_content .container fieldset {
    border: medium none;
}
.vc_body .vc_content .container legend {
    color: #B0232A;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 10px 0;
}
.vc_body .vc_content .container label {
    display: block;
    margin: 15px 0 5px;
}
.vc_body .vc_content .container #steps {
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}
.vc_body .vc_content .container #steps li {
    color: #B0B1B3;
    float: left;
    font-size: 24px;
    height: 60px;
    padding: 10px;
    width: 200px;
}
.vc_body .vc_content .container #steps li span {
    display: block;
    font-size: 15px;
    font-weight: normal;
}
.vc_body .vc_content .container #steps li.current {
    color: #B0232A;
    font-weight: bold;
}

