@font-face {
    font-family: 'bebas_neueregular';
    src: url('/content/themes/base/fonts/bebasneue-webfont.eot');
    src: url('/content/themes/base/fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('/content/themes/base/fonts/bebasneue-webfont.woff') format('woff'),
         url('/content/themes/base/fonts/bebasneue-webfont.ttf') format('truetype'),
         url('/content/themes/base/fonts/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('/content/themes/base/fonts/opensans-regular-webfont.eot');
    src: url('/content/themes/base/fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/content/themes/base/fonts/opensans-regular-webfont.woff') format('woff'),
         url('/content/themes/base/fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('/content/themes/base/fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('/content/themes/base/fonts/opensans-semibold-webfont.eot');
    src: url('/content/themes/base/fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/content/themes/base/fonts/opensans-semibold-webfont.woff') format('woff'),
         url('/content/themes/base/fonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('/content/themes/base/fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: bold;
    font-style: normal;
}