﻿@{ ViewBag.Title = "Congratulations"; }

<div class="container">
    <h1>@ViewBag.Title</h1>
    <h3>Thank you for registering with TrueSyte Technologies Inc.</h3>
    <p>We sent your login credentials to the e-mail address that you registered with us. Hope in seeing you online.</p>
</div>