﻿@model Com.TrueSyte.Platform.Core.Models.LoginModel
@{ ViewBag.Title = "Log in"; }

<div class="container login">
    <h1>@ViewBag.Title</h1>
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "error" })

        <fieldset>
            <legend>Please enter your e-mail address and password ...</legend>
            <ul class="nodecoration">
                <li>
                    @Html.LabelFor(m => m.EmailAddress) 
                    @Html.EditorFor(m => m.EmailAddress)
                    <p>@Html.ValidationMessageFor(m => m.EmailAddress, string.Empty, new { @class = "error" })</p>
                </li>
                <li>
                    @Html.LabelFor(m => m.Password) 
                    @Html.PasswordFor(m => m.Password)
                    <p>@Html.ValidationMessageFor(m => m.Password, string.Empty, new { @class = "error" })</p>
                </li>
                <li>
                    <input type="submit" value="Login" /> 
                </li>
                <li>
                    @Html.ActionLink("Register", "Register") if you don't have an account.
                </li>
            </ul>
        </fieldset>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
