﻿@model Com.TrueSyte.Platform.Core.Models.ManageUserModel
@{ ViewBag.Title = "Profile Management"; }

<div class="container">
    <h1>@ViewBag.Title</h1>
    @using (Html.BeginForm("ManageUser", "Account")) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(string.Empty, new { @class = "error" })

        <fieldset>
            <legend>Tell us something about yourself ...</legend>
            <input type="hidden" value="Personal Information" />
            <ul class="nodecoration">
                <li>
                    @Html.LabelFor(m => m.FirstName)
                    @Html.TextBoxFor(m => m.FirstName)
                </li>
                <li>
                    @Html.LabelFor(m => m.MiddleName)
                    @Html.TextBoxFor(m => m.MiddleName)
                </li>
                <li>
                    @Html.LabelFor(m => m.LastName)
                    @Html.TextBoxFor(m => m.LastName)
                </li>
                <li>
                    @Html.LabelFor(m => m.Birthday)
                    @Html.EditorFor(m => m.Birthday)
                </li>
            </ul>
        </fieldset>
        <fieldset>
            <legend>Tell us something about your work ...</legend>
            <input type="hidden" value="Job Information" />
            <ul class="nodecoration">
                <li>
                    @Html.LabelFor(m => m.Company)
                    @Html.TextBoxFor(m => m.Company)
                </li>
                <li>
                    @Html.LabelFor(m => m.Department)
                    @Html.TextBoxFor(m => m.Department)
                </li>
                <li>
                    @Html.LabelFor(m => m.JobTitle)
                    @Html.TextBoxFor(m => m.JobTitle)
                </li>
            </ul>
        </fieldset>
        <fieldset>
            <legend>Tell us your work location ...</legend>
            <input type="hidden" value="Job Information <br /> (continuation)" />
            <ul class="nodecoration">
                <li>
                    @Html.LabelFor(m => m.Street)
                    @Html.TextBoxFor(m => m.Street)
                </li>
                <li>
                    @Html.LabelFor(m => m.City)
                    @Html.TextBoxFor(m => m.City)
                </li>
                <li>
                    @Html.LabelFor(m => m.State)
                    @Html.TextBoxFor(m => m.State)
                </li>
                <li>
                    @Html.LabelFor(m => m.PostalCode)
                    @Html.EditorFor(m => m.PostalCode)
                </li>
                <li>
                    @Html.LabelFor(m => m.Country)
                    @Html.TextBoxFor(m => m.Country)
                </li>
            </ul>
        </fieldset>
        <fieldset>
            <legend>Tell us how we can reach you ...</legend>
            <input type="hidden" value="Contact Information" />
            <ul class="nodecoration">
                <li>
                    @Html.LabelFor(m => m.HomeNumber)
                    @Html.TextBoxFor(m => m.HomeNumber)
                </li>
                <li>
                    @Html.LabelFor(m => m.MobileNumber)
                    @Html.TextBoxFor(m => m.MobileNumber)
                </li>
                <li>
                    @Html.LabelFor(m => m.FaxNumber)
                    @Html.TextBoxFor(m => m.FaxNumber)
                </li>
                <li>
                    @Html.LabelFor(m => m.PagerNumber)
                    @Html.TextBoxFor(m => m.PagerNumber)
                </li>
                <li>
                    @Html.LabelFor(m => m.WorkNumber)
                    @Html.TextBoxFor(m => m.WorkNumber)
                </li>
                <li>
                    @Html.LabelFor(m => m.VoIPNumber)
                    @Html.TextBoxFor(m => m.VoIPNumber)
                </li>
            </ul>
        </fieldset>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        Com.TrueSyte.InitializeWizardForm({
            submitButtonName: "Update"
        });
    </script>
}

