﻿@model Com.TrueSyte.Platform.Core.Models.ManagePasswordModel
@{ ViewBag.Title = "Password Management"; }

<div class="container">
    <h1>@ViewBag.Title</h1>
    @using (Html.BeginForm("Manage", "Account")) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(string.Empty, new { @class = "error" })

        <fieldset>
            <legend>Change your password as often as you can ...</legend>
            <ul class="nodecoration">
                <li>
                    @Html.LabelFor(m => m.CurrentPassword)
                    @Html.PasswordFor(m => m.CurrentPassword)
                </li>
                <li>
                    @Html.LabelFor(m => m.NewPassword)
                    @Html.PasswordFor(m => m.NewPassword)
                </li>
                <li>
                    @Html.LabelFor(m => m.RetypePassword)
                    @Html.PasswordFor(m => m.RetypePassword)
                </li>
                <li>
                    <input type="submit" value="Update" />
                </li>
            </ul>
        </fieldset>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


