﻿@model Com.TrueSyte.Platform.Core.Models.RegisterUserModel
@{ ViewBag.Title = "Account Registration"; }

@using Com.TrueSyte.Platform.Core;
@using Com.TrueSyte.Platform.Core.Entities;

<div class="container">
    <h1>@ViewBag.Title</h1>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(string.Empty, new { @class = "error" })

        <fieldset>
            <legend>Lets start with some basic information about yourself ...</legend>
            <input type="hidden" value="Personal Information" />
            <ul class="nodecoration">
                <li>
                    @Html.LabelFor(m => m.FirstName)
                    @Html.TextBoxFor(m => m.FirstName)
                </li>
                <li>
                    @Html.LabelFor(m => m.MiddleName)
                    @Html.TextBoxFor(m => m.MiddleName)
                </li>
                <li>
                    @Html.LabelFor(m => m.LastName)
                    @Html.TextBoxFor(m => m.LastName)
                </li>
                <li>
                    @Html.LabelFor(m => m.EmailAddress)
                    @Html.EditorFor(m => m.EmailAddress)
                </li>
                <li>
                    <label class="checkbox">
                        <input id="terms" type="checkbox" />
                        <span>I agree to the  <a href="#" title="Opens a new window. Terms of service.">terms of service</a>.</span>
                    </label>
                </li>
            </ul>
        </fieldset>
        <fieldset>
            <legend>Now, tell us something about your work ...</legend>
            <input type="hidden" value="Job Infromation" />
            <ul class="nodecoration">
                <li>
                    @Html.LabelFor(m => m.Company)
                    @Html.TextBoxFor(m => m.Company)
                </li>
                <li>
                    @Html.LabelFor(m => m.Department)
                    @Html.TextBoxFor(m => m.Department)
                </li>
                <li>
                    @Html.LabelFor(m => m.JobTitle)
                    @Html.TextBoxFor(m => m.JobTitle)
                </li>
                <li>
                    @Html.LabelFor(m => m.WorkNumber)
                    @Html.TextBoxFor(m => m.WorkNumber)
                </li>
                <li>
                    @Html.LabelFor(m => m.MobileNumber)
                    @Html.TextBoxFor(m => m.MobileNumber)
                </li>
            </ul>
        </fieldset>
        <fieldset>
            <legend>Lastly, tell us how you plan to pay.</legend>
            <input type="hidden" value="Credit Card Information" />
            <ul class="nodecoration">
                <li>
                    @Html.LabelFor(m => m.CardType)
                    @Html.DropDownListFor(m => m.CardType, typeof(CreditCardType).ToSelectList("Select credit card type..."), new { @class = "selectpicker" })
                </li>
                <li>
                    @Html.LabelFor(m => m.CardNumber)
                    @Html.EditorFor(m => m.CardNumber)
                </li>
                <li>
                    @Html.LabelFor(m => m.SecurityCode)
                    @Html.EditorFor(m => m.SecurityCode)
                </li>
                <li>
                    @Html.LabelFor(m => m.CardName)
                    @Html.TextBoxFor(m => m.CardName)
                </li>
                <li>
                    @Html.LabelFor(m => m.ExpireationDate)
                    @Html.EditorFor(m => m.ExpireationDate)
                </li>
            </ul>
        </fieldset>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        Com.TrueSyte.InitializeWizardForm({
            submitButtonName: "Register"
        });
    </script>
}
